{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} <title>Matthias</title> {% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster Two&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/style.css' %}">
    {% block link %} <link rel="stylesheet" href="{% static '/style.css' %}"> {% endblock %}
    <script src="https://kit.fontawesome.com/8d8053aa7b.js" crossorigin="anonymous"></script>
</head>
<body id="bd">
    <!-- <div class="container-fluid bg-success">
        <h2>Hello world</h2>
    </div> -->
    <nav class="navbar navbar-expand-sm  navbar-dark sticky-top py-0"
    style="background-color: black;">
        <a href="#" class="navbar-brand  p-1" style="width: 60px; height: 60px; border-radius: 50%;">
            <img src="{% static '/mvs2.png' %}" alt="logo" class="img-thumbnail" style="width: 100%; height:100%; border-radius: 50%; background-color: black;">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#c">
            <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse mb-0 p-0" id="c" style="width: 100%;">
            <ul class="navbar-nav d-flex justify-content-end" style="width:100%; margin: 0; padding: 10px;">
                {% block navbar %}
                <li class="nav-item lit act">
                    <div class="show act"></div>
                    <a href="#menu1" class="nav-link text-white h4" data-toggl="pill" title="home" style="font-size:20px;">
                    home
                </a></li>
                <li class="nav-item lit">
                    <div class="show"></div>
                    <a href="#menu2" class="nav-link  text-white h4" data-toggl="pill" title="about" style="font-size:20px;">
                    about
                </a></li>
                <li class="nav-item lit">
                    <div class="show"></div>
                    <a href="#menu3" class="nav-link text-white h4" data-toggl="pill" title="Portfolio" style="font-size:20px;">
                    portfolio
                </a></li>
                <li class="nav-item lit">
                    <div class="show"></div>
                    <a href="#menu4" class="nav-link text-white h4" data-toggl="pill" title="contact" style="font-size:20px;">
                    contact
                </a></li>
                {% block nav %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                    <a href="{% url 'signout' %}" class="nav-link text-white h4" style="font-size:20px;">
                    logout, {{user.username}}
                    </a></li>
                {% else %}
                    <li class="nav-item">
                    <a href="{% url 'signin' %}" class="nav-link text-white h4" title="Signup" style="font-size:20px;">
                        Login
                    </a></li>
                    {% endif %}
                {% endblock %}
                {% endblock %}
            </ul>
        </div>
    </nav>
    {% block main %}

    <!-- The Modal -->
<div class="modal" id="mymodal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Hello!</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <P id="sc" class="text-success"></p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

    <div class="tab-conten">
        <header class="sec1 tab-pan my-3 active" id="menu1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-f1 p-3">
                        <div class="bg-succes p-1 container-fluid d-flex justify-content-center align-items-center"
                        style="height: 100%; width: 100%; border-radius: 1rem; ">

                        <div id="imag" class="d-flex justify-content-center"
                        style="width: 100%; height: 100%; padding: 0 1rem; background-color: blac;
                        border-radius: 1rem;">
                        <img src="{% static '/mvs1.png' %}" alt="img" class="" style="width: 80%; height:90%;">
                   </div>
                    </div>
                    </div>
                    <div class="rt col-sm-6 pt-1">
                        <h3>Hi, I'm <span>Matthias Sunday Oduh.</span> An Electrical and Electronics Engineer.</h3>

                  <p> I'm a tech enthusiast: this fueled my passion for software engineering in addition to my knowledge in embedded systems.</p>
                     <a href="{% static '/matthias_sunday_oduh_cv.pdf' %}" class="main-btn" download>
                        <!-- <span class="btn-txt">Download Cv</span> -->
                        <button class="btn" id="bt" title="download my CV">Download Cv
                            <span class="ml-3 p-2 icon">
                                <i class="fas fa-download"></i></span></button>

                    </a>
                </div>
                    </div>
                </div>
                </header>
        <!-- scetion2 begins -->
        <section id="menu2" class="sec2 tab-pan p-3 mt-0">
            <div class="abt-hd">
                <h4 class="bg-txt">Short Biography</h4>
                <p class="sht-txt">About Me</p>
            </div>
            <div class="row">
                <div class="col-sm-6" id="r">
                    <h2 class="info-txt">Information about me</h2>
                    <p>
                        I am a native of Adupi-Orokam in Ogbadibo,
                        LGA Benue State Nigeria. I am Idoma by tribe.
                        I was born on the 9th of September, 1996 at
                        Ipoba Ajebamibo, Idanre LGA, Ondo State.
                        I speak and write in English language fluently.
                        I can also converse little in Yoruba language.
                    </p>
                    <p>
                         I studied Electrical and Electronics Engineering at FUAM and
                         graduated with first class honour in 2020.
                          Check out my statement of results
                          <a href="#" id="res" title="check out my statement of results ">here</a>
                    </p>
                    <p>
                        I am keen on making positive impacts in
                        the society with the little resources at
                        my disposal because I believe that is the essence of life.
                        I am hardworking and daring. I welcome constructive criticism
                        wholeheartedly without reservation. I mingle with like minds and
                        always at alert to key into any opportunity that will make me a better me.

                    </p>
                    <p>
                        Interestingly, I am a novelist,
                        song writer, a die-hard Barcelona fan.
                         You can peruse through the manuscripts of
                         my debut novel
                         <a href="#" id="novel" title="read the novel">here</a>
                        <p>
                            Hobbies includes: reading, writing,
                            watching and playing football and volleyball,
                            singing and studying nature.

                        </p>

                    </p>
                </div>
                <!-- column1 of section2 ends -->
                <div class="col-sm-6 pl-3">
                    <ul class="nav nav-pill d-flex justify-content-start">
                        <li class="nav-item bc">
                            <span class="ac actstatus"></span>
                            <a href="#edu" class="nav-link ed active h4" data-toggle="pill" title="my education">
                                <i class="fa-solid fa-graduation-cap mr-2"
                                style="font-size: 1.5rem; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); color: #ff1593;"></i>Education</a>
                        </li>
                        <li class="nav-item bc">
                            <span class="ac"></span>
                            <a href="#skills" class="nav-link ed h4" data-toggle="pill" title="my skills">
                                <i class="fa-solid fa-code mr-2"
                                style="font-size: 1.5rem; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);color: #ff1593;"></i>Skills</a>
                        </li>
                        <li class="nav-item bc">
                            <span class="ac"></span>
                            <a href="#exp" class="nav-link ed h4" data-toggle="pill" title="my work experience">
                                <i class="fa-solid fa-briefcase mr-2"
                                style="font-size: 1.5rem; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); color: #ff1593;"></i>Work Experience</a>
                        </li>
                    </ul><!-- nav tabs for column2 ends -->
                        <div class="tab-content d-flex justify-content-center">
                            <!-- education pane begins -->
                            <div id ="edu" class="tab-pane w-100 active">
                                <ul class="prof">
                                    <li>Institution Attended
             <ul class="inst">
                   <li>Federal university of Agriculture, Makurdi (2014-2020)
                   <ul class="acad">
                       <li>B.Eng Electrical and Electronics Engineering</li>
                       <li>Grade : First Class Honours (4.75/5.00)</li>
                   </ul></li>
                   <li>Crystal Safety and Training Resources, Portharcourt (2021)
                   <ul class="acad">
                       <li>Occupation, Health, Safety and Environment(OHSE 1, 2 and 3)</li>
                   </ul></li>
               </ul></li>

                     <li>Online Courses Completed
                     <ul class="inst">
                         <li>Cisco Networking Academy(Netacad)
                             <ul class="acad">
                                 <li>Introduction to Cyber security</li>
                             </ul>
                         </li>
                      <li>Yonsei University
                             <ul class="acad">
                                 <li>Introduction to TCP/IP</li>
                             </ul>
                         </li>
                        <li>Meta
                             <ul class="acad">
                                 <li>Introduction to Front End Development</li>
                             </ul>
                         </li>
                        <li>University of Buffalo
                             <ul class="acad">
                                 <li>Solar Energy Systems Overview</li>
                             </ul>
                         </li>
                          <li>University of Michigan
                             <ul class="acad">
                                 <li>Programming for Everybody(getting started with Python)</li>
                             </ul>
                         </li>
                          <li>University of Michigan
                             <ul class="acad">
                                 <li>Programming for Everybody(Python Data Structures)</li>
                             </ul>
                         </li>
                          <li>LearnQuest
                             <ul class="acad">
                                 <li>Cloud Computing Basics(Cloud 101)</li>
                             </ul>
                         </li>
                          <li>Cisco Networking Academy(Netacad)
                             <ul class="acad">
                                 <li>Networking Devices and Initial Configuration</li>
                             </ul>
                         </li>
                          <li>Cisco Networking Academy(Netacad)
                             <ul class="acad">
                                 <li>Python Essentials 1</li>
                             </ul>
                         </li></ul></li>

                     <li>Award and Honours</li></ul>
                            </div>

                        <!-- education pane ends, skills begin -->

                <div id="skills" class="tab-pane  w-100 p-0 m-0">
                        <!-- wrapper for all skills -->
                    <ul class="prof  p-3 m-0">
                        <li><a href="" data-toggle="collapse" data-target="#sk" title="show soft skills"
                            style="text-decoration: none; color : #ff1593;">Soft Skills</a>
                            <!-- wrapper for soft skills -->
                            <ul class="inst collapse" id="sk">
                                <li>Good human networking</li>
                                <li>Team Work</li>
                                <li>Good oral and written communication</li>
                                <li>Quick delivery of assignments</li>
                            </ul>
                        </li>

                        <li><a href="#hs" data-toggle="collapse" title="show hard skills"
                        style="text-decoration: none; color : #ff1593;">Hard Skills</a>
                            <!-- wrapper for Hard skills -->
                            <ul class="inst collapse" id="hs">
                                <li>Abilty to work under pressure</li>
                                <li>Daring</li>
                                <li>I meet deadlines</li>
                                <li>Quick grasping of novel ideas</li>
                                <li>Unquenchable zeal for improvement</li>
                                <li>Unsual ability to handle difficult and challenging tasks</li>
                            </ul>
                        </li>

                        <li><a href="#ps" data-toggle="collapse" title="show Programming skills"
                        style="text-decoration: none; color : #ff1593;" onclick="widthShow();">Programming Skills</a>
                            <!-- wrapper for programming skills -->
                            <div class="contain  collapse w-100" id="ps">
                                <!-- HTML skill wrapper -->
                                <div class="hdCont">
                                    <div class="hd">
                                        <p>HTML</p>
                                        <p class="done">0</p>
                                    </div>
                                    <div class="pro">
                                        <div class="prog-bar" dataval="80%"></div>
                                    </div>
                                </div>
                                <!-- CSS skill wrapper -->
                                <div class="hdCont">
                                    <div class="hd">
                                        <p>CSS</p>
                                        <p class="done">0</p>
                                    </div>
                                    <div class="pro">
                                        <div class="prog-bar" dataval="75%"></div>
                                    </div>
                                </div>
                                <!-- wrapper for Javascript skill -->
                                <div class="hdCont">
                                    <div class="hd">
                                        <p>JavaScript</p>
                                        <p class="done">0</p>
                                    </div>
                                    <div class="pro">
                                        <div class="prog-bar" dataval="60%"></div>
                                    </div>
                                </div>
                                <!-- wrapper for Python skills -->
                                <div class="hdCont">
                                    <div class="hd">
                                        <p>Python</p>
                                        <p class="done">0</p>
                                    </div>
                                    <div class="pro">
                                        <div class="prog-bar" dataval="70%"></div>
                                    </div>
                                </div>
                                <!-- wrapper for C skills-->
                                <div class="hdCont">
                                    <div class="hd">
                                        <p>C</p>
                                        <p class="done">0</p>
                                    </div>
                                    <div class="pro">
                                        <div class="prog-bar" dataval="50%"></div>
                                    </div>
                                </div>
                                <!-- wrapper for C++ skills -->
                                <div class="hdCont">
                                    <div class="hd">
                                        <p>C++</p>
                                        <p class="done">0</p>
                                    </div>
                                    <div class="pro">
                                        <div class="prog-bar" dataval="35%"></div>
                                    </div>
                                </div>
                                <!-- wrapper for Matlab Skills -->
                                <div class="hdCont">
                                    <div class="hd">
                                        <p>Matlab</p>
                                        <p class="done">0</p>
                                    </div>
                                    <div class="pro">
                                        <div class="prog-bar" dataval="30%"></div>
                                    </div>
                                </div>
                                <!-- wrapper for Linux command -->
                                <div class="hdCont">
                                    <div class="hd">
                                        <p>Linux Command</p>
                                        <p class="done">0</p>
                                    </div>
                                    <div class="pro">
                                        <div class="prog-bar" dataval="40%"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section 3 begins-->
<section id="menu3" class=" sec3 tab-pan bg-danger p-3">
    <h4 class="text-warning">Heading Three</h4>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut hic et magni esse voluptatem
        est minus dicta debitis tenetur vitae fugiat deserunt dolorum,
        fuga asperiores eveniet facere doloremque eum? Quo.
    </p>
</section>

<section class="sec4 tab-pan p-3" id="menu4">
    <div class="row">
        <!-- first column -->
        <div class="col-sm-6 rounded-3 imag-cont p-2 h-100">
            <img src="{% static '/ma.png' %}" alt="" class="w-100 imag h-75">
            <div class="social">
                <div class="face">
                    <a href="#" title="Phone No">
                        <i class="fa-solid fa-phone phone h2 text-success p-3"></i>
                        <span class="pl-3 text-white h4">09028369378</span>
                    </a>
                </div>
                <div class="face">
                    <a href="#" title="facebook profile">
                        <i class="fa-brands fa-facebook-f h2 text-primary p-3"></i>
                        <span class="pl-3 text-white h4">facebook</span>
                    </a>
                </div>
                <div class="face">
                    <a href="#" title="email message">
                        <i class="fa-regular fa-envelope h2 text-light p-3"></i>
                        <span class="pl-3 text-white h4">Email</span>
                    </a>
                </div>
                <div class="face">
                    <a href="#" title="linkedin profile">
                        <i class="fa-brands fa-linkedin-in h2 text-primary p-3"></i>
                        <span class="pl-3 text-white h4">linkedin</span>
                    </a>
                </div>
                <div class="face">
                    <a href="#" title="github profile">
                        <i class="fa-brands fa-github h2 text-light p-3"></i>
                        <span class="pl-3 text-white h3">github</span>
                    </a>
                </div>
                <div class="face">
                    <a href="#" title="Whatsapp message">
                        <i class="fa-brands fa-whatsapp h2 text-success p-3"></i>
                        <span class="pl-3 text-white h3">whatsapp</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- Second column -->
        <div class="col-sm-6 p-2 mt-3">
            <div class="message">
                <p class="h3">Drop a message</p>
                <form class="w-100 p-2 pt-0" action="", method="post" id="fm">
                    {% csrf_token %}
                    <div class="msg-n">
                        <label for="name" class="form-control-label h4 my-3">Full Name:</label>
                        <input type="text" name="name" id="name" placeholder="Your name" required class="form-control ip m-0">
                    </div>
                    <div class="msg-n">
                        <label for="phone" class="form-control-label h4 my-3">Phone Number:</label>
                        <input type="number" name="phone_no" id="phone" placeholder="+2348000000009" required class="form-control ip mb-0">
                    </div>
                   <div class="msg-n">
                        <label for="email" class="form-control-label h4 my-3">Email address:</label>
                        <input type="email" name="email" id="email" placeholder="you@gmail.com" required class="form-control ip mb-0">
                    </div>
                    <div class="msg-n">
                        <label for="msg" class="form-control-label h4 my-3">Message:</label>
                        <textarea id="msg" name="message" placeholder="Your message" required rows="7" required class=" form-control ip mb-0">
                        </textarea>
                    </div>
                    <div class="msg-n">
                        <button type="submit" class="sb subm btn p-2 my-3 w-100" id="sb">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</div>
{% endblock %}
<!-- Footer -->
{% block footer %}
<div class="container-fluid fixed-bottom d-flex align-items-center justify-content-center p-3"
    style="background-color: black;">
    <p class="text-white my-auto rh" >
        <small style="font-size:1rem; font-weight:300;">&copy; Matthias</small>,
         <span id="f" style="font-size:1rem;"></span>
    </p>
</div>
{% endblock %}
<script src="{% static '/jquery-3.7.0.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>

<script>
    $(document).ready(
        function()
            {
                $('[data-toggle="tooltip"]').tooltip();

                $('#sb').click(
                    function(ev)
                        {
                            ev.preventDefault();
                            const form = $('#fm');
                            const url = form.attr('action')
                            const su = $('.sb');
                            su.attr("data-toggle", "modal");
                            su.attr("data-target", "#mymodal");

                            $.ajax(
                                {
                                    type: "POST",
                                    url: "feedback/",
                                    data: form.serialize(),
                                    success: function(data)
                                                {
                                                    $('#sc').html(data);
                                                },
                                    error: function(data)
                                                {
                                                    $('#sc').html("something went wrong!")
                                                }

                                }
                                );
                            ip = document.querySelectorAll('.ip')
                            for (let i=0; i<ip.length;i++)
                                {
                                    ip[i].value="";
                                }
                        }
                    );
            }
        );
      </script>
{% block script %} <script src="{% static '/home.js' %}"></script>  {% endblock %}
</body>
</html>
