<!--             <span class="p-2 text-left">{{item.created_at | date:' N, jS, Y f a'}}</span> 
            <span class="text-light p-2" class="srch">{{item.name}}</span> 
            <span class="text-info p-2 ">{{item.phone_no}} </span>
            <span class="text-warning p-2">{{item.email}} </span>
            <span class=" badge bg-light text-success p-2">{{item.message}}</span>-->

<!-- <table class="table table-responsive-sm table-hover table-striped rounded">
        <thead class="table-light">
            <th>S/N</th>
            <th>Date</th>
            <th>Sender Name</th>
            <th>Sender Number</th>
            <th>Sender Email</th>
            <th>Message</th>
        </thead>
        {% for item in All_msg %}
        <tr class="{% cycle 'table-primary' 'table-info' 'table-success' %}" rot>
            <td>{{forloop.counter}}</td>
            <td>{{item.created_at | date:' N, jS, Y f a'}}</td>
            <td class="srch">{{item.name}}</td>
            <td>{{item.phone_no}}</td>
            <td>{{item.email}}</td>
            <td>{{item.message}}</td>
        </tr>
        {% endfor %}
    </table> -->
